body, html {
	margin: 0;
	font-family:  Arial, Helvetica, sans-serif;
	background-color: #20b2aa;
	height: 100%;
}

@font-face {
  	font-family: 'AlienLeague';
  	src: url('/design/alienleague.ttf'); /* IE9 Compat Modes */   
    src: url('/design/alienleague.ttf')  format('truetype'), /* Safari, Android, iOS */
       	url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.wrapper {
	margin-top: -20px;
	min-height: 100%;
    position: relative;
    background-image: url('/design/wall1.gif');
}

.corner {
	float: right;
	margin-right: 80px;
	margin-top: 20px;
	background-color: transparent;
	max-height: 50px;
	max-width: 120px;
	font-size: 18px;
}

.corner__reg {
	text-decoration: none;
	color: #000;
	border-radius: 4px;
	background-color: transparent;
	border: 1px solid #000;
	padding: 5px 8px;
}

.corner__reg:hover {
	text-decoration: none;
	color: #000;
	background-color: #ffd46d;
}

.header {
	font-family: AlienLeague, Arial, sans-serif;
	font-weight: 700;
	text-align: center;
	color: #fff;
}

.header__title {
	margin-left: 165px;
	font-size: 40px;
	padding-top: 40px;
}

.header__par {
	font-size: 25px;
	padding-top: 10px;
}

.page {
	padding-bottom: 50px;
}

.square {
	width: 350px;
	height: 410px;
	background-color: #ffd46d;
	margin: auto;
  	text-align: center;
  	border-radius: 10px;
  	font-size: 24px;
  	padding-top: 35px;
	margin-bottom: 25px;
	box-shadow: 10px 10px 5px #888888;
}

.menu {
	list-style: none;
	padding-left: 0;
	padding-top: 1px;
	width: 70%;
	margin: auto;
}

.menu__item {
	margin-bottom: 100px;
	display: block;
}
.menu__item:nth-child(1) {
	margin-top: 30px;
}

.button {
	text-decoration: none;
	background-color: transparent;
	border: solid 1px blue;
	padding: 20px 30px 20px 30px; 
	border-radius: 10px;
	color: blue;
}

.button:hover {
	text-decoration: none;
	border: solid 2px;
}


.button_back {
	float: left;
	position: absolute;
	display: inline; 
	text-align: center;
	text-decoration: none;
	padding: 15px 20px 15px 20px; 
	width: 100px;
	font-size: 18px;
	margin: 20px 0 20px 50px;
}

.footer {
	position: absolute;
	bottom: 0;
	height: 50px;
	background-color: #000;
	width: 100%;
    left: 0;
}

.footer p {
	color: #fff;
	padding-top: 8px;
	float: right;
	margin-right: 50px;
	font-size: 16px;
}

/* Login */

.login-form__input {
	display: block;
	margin: auto;
	width: 60%;
	margin-bottom: 50px;
	font-size: 24px;
	border-radius: 10px;
	padding: 20px 30px 20px 30px;
	color: blue;
	border: solid 1px #dcdcdc;
  	transition: box-shadow 0.3s, border 0.3s;
}

.login-form__input:hover {
	box-shadow: 0 0 5px 1px #969696;
}

.login-form__input:focus {
	border: solid 1px #707070;
  	box-shadow: 0 0 5px 1px #4f98c1;
  	outline: 0;
}

.login-form__button {
	border: solid 1px blue;
	background-color: transparent;
}

/* Registration */

.register-form__input {
	display: block;
	margin: auto;
	width: 60%;
	margin-bottom: 50px;
	font-size: 24px;
	border-radius: 10px;
	padding: 20px 30px 20px 30px;
	color: blue;
	border: solid 1px #dcdcdc;
  	transition: box-shadow 0.3s, border 0.3s;
}

.register-form__input:hover {
	box-shadow: 0 0 5px 1px #969696;
}

.register-form__input:focus {
	border: solid 1px #707070;
  	box-shadow: 0 0 5px 1px #4f98c1;
  	outline: 0;
}

.register-form__button {
	border: solid 1px blue;
	background-color: transparent;
}

/*Scoreboard*/

.square_scoreboard {
	width: 500px;
	min-height: 530px;
	padding: 20px 20px 20px 20px;
  	padding-top: 20px;
  	color: #fff;
}

tr {
	width: 100%;
	display: inline-table;
}

tbody tr:hover {
	color: #85c2c1;
}

table{
	position: relative;
 	height:480px; 
}
tbody{
	overflow-y: scroll;
	height: 450px;
	width: 100%;
	position: absolute;
}

/*Game*/

.square_game {
	width: 800px;
	height: 500px;
  	padding-top: 60px;
	margin-bottom: 25px;
}